* {
  box-sizing: border-box;
}
.padding {
  padding-inline: 8%;
}
.gap {
  gap: 1rem;
}
.flex {
  display: flex;
}
.width-general {
  width: 84%;
}
ul {
  list-style-type: none;
}
li {
  margin-block: auto;
}
.border {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
}
.size {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.width {
  width: 40%;
}
.button {
  background-color: black;
  border-radius: 20px;
  color: white;
  font-family: inherit;
  font-size: 1.1rem;
  padding: 0.5rem;
}
body {
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
}
header {
  background-color: #ffc017;
  height: 480px;
  margin-top: 78px;
}
header menu {
  justify-content: space-between;
  padding-block: 1.2rem;
  position: fixed;
  z-index: 999;
  background-color: #ffc017;
  top: 0;
  transition: background-color 500ms;
}
.scroll {
  margin-inline: auto;
  margin-top: 5rem;
}
h1 {
  font-family: Spectral, serif;
  font-weight: bold;
  font-size: 7rem;
  margin-bottom: 1rem;
}
.scroll img {
  position: absolute;
  top: 5rem;
  right: 0;
}
.scroll button {
  padding-inline: 3rem;
}
article > div {
  display: flex;
  flex-wrap: wrap;
}
.card {
  display: flex;
  width: 33%;
  margin-top: 1rem;
}
.card > div:first-of-type {
  margin-inline: 1rem;
  color: gray;
  font-size: 2.5rem;
  opacity: 0.2;
  font-weight: bold;
}
.card > div:last-of-type > div {
  display: flex;
  align-items: center;
}
article {
  margin-top: 3rem;
  border-bottom: 1px solid grey;
  padding-bottom: 3rem;
}
article p {
  font-weight: bold;
  margin-block: 0.5rem;
}
.card h3 {
  display: inline-block;
  margin-left: 0.5rem;
}
.card address {
  opacity: 0.7;
  color: grey;
  margin-block: 0.5rem;
}
.card img {
  border-radius: 50%;
}
article > div:first-of-type {
  display: flex;
  align-items: center;
}
main > div {
  display: flex;
  margin-block: 3rem;
}
.card2 {
  display: flex;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100%;
  position: sticky;
  top: calc(80px + 1rem);
}
aside > div:first-of-type {
  display: flex;
  flex-direction: column;
  width: 80%;
}
aside h3 {
  margin-bottom: 1rem;
  font-weight: bold;
}
.group-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  width: 75%;
}
.group-buttons button {
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid rgb(0 0 0 / 0.2);
  border-radius: 3px;
  flex-grow: 1;
}
.group-p {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  column-gap: 2rem;
  width: 80%;
  border-top: 1px solid rgb(0 0 0 / 0.2);
  padding-top: 2rem;
}
.group-p p {
  font-size: 1rem;
}

.center {
  display: flex;
  align-items: center;
}

.card2 h3 {
  font-weight: bold;
  margin-left: 1rem;
  font-size: 1.3rem;
}
.card2 h2 {
  margin-block: 1rem;
  font-weight: bold;
  font-size: 1.7rem;
}
.card2 p {
  margin-block: 1rem;
  margin-right: 3rem;
  color: grey;
}
.card2 address {
  display: flex;
  justify-content: space-between;
  padding-right: 3rem;
  color: grey;
}
.card2 address span {
  background-color: #8080803d;
  border-radius: 20px;
  padding: 0.4rem;
}
.card span {
  color: rgb(157, 149, 149);
}
.image {
  max-width: 30%;
  position: absolute;
  right: 0;
}
.card2 {
  margin-bottom: 3rem;
  overflow: hidden;
  position: relative;
}
.card2 > div {
  width: 70%;
  margin-bottom: 1rem;
}
section {
  width: 60%;
}
.btn-colored {
  background-color: green;
  transition: background-color 500ms;
}
.colored {
  background-color: white;
}
@media screen and (max-width: 1150px) {
  .scroll img {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 769px) {
  * {
    font-size: 0.7rem;
  }
  .card {
    width: 50%;
  }
  .width {
    width: 80%;
  }
  .card > div:first-of-type {
    font-size: 1.5rem;
  }
  aside {
    position: static;
    width: 100%;
  }
  main > div {
    flex-direction: column-reverse;
  }
  .group-buttons {
    width: auto;
  }
  .group-p {
    width: auto;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }
  section {
    width: auto;
  }

  h2 {
    font-size: 0.8rem;
  }
  h3 {
    font-size: 0.7rem;
  }
  p {
    font-size: 0.6rem;
  }
  li {
    font-size: 0.9rem;
  }
  .gap {
    gap: 0.5rem;
  }
  .card img {
    width: 25px;
    height: 25px;
  }
  .card address {
    font-size: 0.8rem;
  }
  .group-p p {
    font-size: inherit;
  }
  .card2 {
    margin-bottom: 1rem;
  }
  .card2 h3 {
    font-size: 1rem;
  }
  .card2 h2 {
    font-size: 1.1rem;
    margin-block: 0.5rem;
  }
  .card2 address {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 480px) {
  menu img {
    width: 130px;
  }
  nav ul li {
    display: none;
  }
  nav ul li:last-of-type {
    display: block;
  }
  header {
    height: 350px;
  }
  .button {
    font-size: 0.7rem;
  }
  header {
    margin-top: 70px;
  }
  h1 {
    font-size: 3rem;
  }
  .width {
    width: 1.5rem;
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .padding {
    padding-inline: 0.5rem;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 2.5rem;
  }
  .size {
    font-size: 1.3rem;
  }
  .scroll button {
    padding-inline: 1rem;
  }
}
